@import "vars";

/*
 * Basic
 */

html {
    height: 200%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: "quicksand";
    height: 200%;
}
a {
    text-decoration: none;
    color: $accent;
}
a:hover {
    text-decoration: underline;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*
 * Navbar
 */

#author-name {
    font-size: 80px;
    color: #0b0404;
    display: inline-block;
}
.navbar {
    padding: 100px 0 100px 0;
}
.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 10x 0 10px 0;
    margin-left: 20px;
}
.nav-list {
    list-style-type: none;
    margin: 0 10px 0 20px;
}
.alignable {
    display: inline-block;
}
.pull-left {
    @extend .alignable;
    float: left;
}
.pull-right {
    @extend .alignable;
    float: right;
}

/* Divs */

.container {
    max-width: $max-width;
    margin: auto;
}
.wrapper {
    min-height: 200%;
}

/* Mobile */

@media (max-width: 1600px) {
    .container {
        max-width: $med-width;
        transition: 0.3s ease all;
    }
}

@media (max-width: 1100px) {
    .container {
        max-width: 166%;
    }
    .navbar-ul {
        margin-top: 10px;
    }
}

@media (max-width: 110px) {
    #author-name {
        display: inline-block;
    }
}

@import "typography";
